<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Vaša knjiga je spremna za čitanje</title>
    </head>

    <body>
          <embed src= "<%= book.title %> " width= 100% height= "10000">
    </body>
</html>