/** styling from https://codepen.io/its7rishi/pen/dyOZRLQ **/

.menu{
    display: block;
    background-color: #00695c;
    width: 10rem;
    box-shadow: 10px 15px 15px gray;
    position: fixed;
}

.menu a{
    display: block;
    text-decoration: none;
    text-align: center;
}

.dropdown:hover .menu{
    display: block;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 15px;
    overflow: hidden;
}

a:hover{
    background-color: #f1f1f1   ;
    color: black;
}

.dropdown {
    margin-left: 2rem;
    width: 10rem;
    height: 500px;
    max-height: 1000px;
    float: left;
}

.category-title {
    text-align: center;
}

.menu-wrapper {
    width: 10rem;
    position: fixed;
}
