<%- include('../partials/header.ejs') %>
    
    </head>
    <body>
            <%- include('../partials/navigation.ejs') %>
        <main>
            <section>
                 <div class="background-image"></div>
                <div class="landing_grid">
                    <h1 class ="landing_title">Antikvarijat Lorem Ipsum</h1>
                    <br>
                    <h2 class="landing_subtitle">Dobrodošli u antikvarijat s najraznovrsnijom ponudom knjiga i e-knjiga!</h2>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    
                    <p>Note: Ovo je portfolio projekt te kupovina knjiga nije moguća, a ponuda knjiga je preuzeta s webstranice antikvarijata-bono (https://antikvarijat-bono.com/).</p>
                </div>
            </section>
        </main>        
    </body>