
    <%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/css/loginForm.css">
</head>
<body>
        <%- include('../partials/navigation.ejs') %>



<section>

	<hgroup>
	    <h2>Dobrodošli nazad!</h2>
		<p>Molimo vas unesite vaše podatke da možete nastaviti s vašom kupovinom</p>
	</hgroup>

	<form method = "post" class = "log-form">

	    <div class="group log-input">
	    	<input type="text" id = "username" name = "username" placeholder = "Korisničko ime">
	    </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
	    <div class="group log-input">
	        <input type="password" id = "password" name = "password"  placeholder = "Lozinka">
	    </div>



	    <a class = "right-align" href="/reset">Zaboravili ste lozinku?</a>

	    <br><br>

		<div class="container-log-btn">
          <button type="submit" name = "btn_submit" class="log-form-btn">
            <span>Prijavi se</span>
          </button>
        </div>

	</form>

	

</section>


</html>